@import "../../scss//settings/layout";

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  button {
    padding: 10px;
    background-color: #66cccc;
    border: 1px solid white;
    cursor: pointer;
    color: white;
  }

  span {
    color: white;
  }
}

@media only screen and (max-width: $small-screen) {
  .pagination {
    display: none;
  }
}
