@import "../../scss/tools/cut-paragraph";
@import "../../scss/settings/layout";

$_text-color: white;
$_text-size: 16px;
$_background-gradient: linear-gradient(to top, rgb(10, 10, 10), transparent);
$_card-border-radius: 25px;

.card {
  height: 100%;
  width: 100%;
  min-width: 180px;
  max-width: 244px;
  max-height: 307px;
  position: relative;
  border-radius: $_card-border-radius;

  img {
    object-fit: cover;
    filter: brightness(1);
  }

  .card-filter {
    background: $_background-gradient;
  }

  .span-number {
    width: 44px;
    height: 42px;
    position: absolute;
    top: 25px;
    left: 183px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #66ccccc2;
    border-radius: 7px;

    span {
      color: #ffffff;
      font-weight: 600;
      font-size: 18px;
      line-height: 37.72px;
    }
  }

  .card-info {
    z-index: 10;
    position: absolute;
    bottom: 2%;
    left: 16px;
    right: 16px;
    font-size: $_text-size;
    color: $_text-color;
    display: flex;
    flex-direction: column;
    gap: 8px;

    h3 {
      margin-bottom: 5px;
      font-size: 20px;
      font-weight: 700;
      line-height: 25.14px;
      text-wrap: balance;
      @include cut(1);
    }

    div {
      height: 100%;
      display: flex;
      gap: 10px;

      p {
        font-size: 14px;
        @include cut(3);
      }
    }
  }
}

.bg-white {
  background-color: white;
  transition: background 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.bg-white:hover {
  background: #374151;
  box-shadow: 0 0 3px #374151;
}
@media only screen and (max-width: $small-screen) {
  .card {
    height: 100%;
    width: 100%;
    border-radius: 25px;
  }
}
