.container-modal {
  position: absolute;
  height: 160px;
  width: 240px;
  top: 53px;
  right: 95px;

  .modal {
    width: 100%;
    height: 100%;
    padding: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 1px #d1d5db;
    border-radius: 6px;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.1);

    h4 {
      color: #e5e7eb;
      padding: 6px;
      font-weight: 700;
    }

    .btn-profile {
      border: solid 1px #6b7280;
      padding: 1px 5px;
      transition: border-color 0.4s, color 0.4s;
      color: white;

      &:hover {
        border-color: white;
      }
    }

    .logout {
      width: 100%;
      background-color: rgb(169, 13, 13);
      cursor: pointer;
      padding: 5px;
      color: white;
      font-size: 14px;
      transition: background-color 0.4s;

      &:hover {
        background-color: rgb(101, 8, 8);
      }
    }
  }

  &.visible {
    display: none;
  }
}
