// Settings Colors
$_sky-blue: #66cccc;
$_dark: #181818;
$_white: #fff;

$_color-border: #bfe8e8;
$_box-shadow:  0px 2px 0px 0px rgba(0, 0, 0, 0.1);

// Primary Colors
$primary-color: $_sky-blue;
$primary-dark-color: $_dark;

// Background Colors
$background-dark-color: $_dark;
$background-light-color: $_white;

// Text Colors
$text-color: $_dark;
$text-color-light: $_white;

// Border Color
$border-color: $_color-border;
