@import "../../../../../src/scss/settings/layout";
.container-icon {
  display: flex;
  gap: 3px;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 70.4px;
  height: 28px;
}

.logo-title {
  font-size: 19px;
  font-weight: bold;
}

@media only screen and (max-width: $small-screen) {
  .container-icon {
    gap: 5px;
    .logo-title {
      font-size: 13px;
    }
    .logo {
      width: 20px;
      height: 20px;
    }
  }
}
