.detail {
  max-width: 1366px;
  max-height: 711px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;

  img {
    width: 100%;
    max-width: 565px;
    object-fit: cover;
  }

  .info {
    width: 100%;
    max-width: 700px;
  }
}
