.list-movies {
  margin-top: 15px;
  max-width: 1366px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  row-gap: 30px;
  flex-wrap: wrap;
}

.pagination {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  button {
    padding: 10px;
    background-color: #66cccc;
    border: 1px solid white;
    cursor: pointer;
    color: white;
  }

  span {
    color: white;
  }
}
