.container-filter {
  margin-top: 240px;
  margin-bottom: 40px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  .filters {
    height: 10px;
    width: 100%;
    max-width: 1366px;
    display: flex;
    align-items: center;
    gap: 15px;

    button {
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;
      color: black;
    }
  }
}

.active-filter {
  background-color: #66cccc;
  color: white;
}
